<html>
<style>
    .ibagem{
      padding:0px 0px 0px 850px;
      border-radius: 50%; 
    }
    .ibagem img{
      height: 150px;
      width: auto;
    }

</style>
   
<body id="home">
	<header class="navbar navbar-inverse hero" role="banner">
  		<div class="container">
    		<div class="navbar-header">
		      	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
    		</div>
    		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      			<ul class="nav navbar-nav navbar-right">
      				<li class="dropdown">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Matérias<b class="caret"></b></a>
          			<ul class="dropdown-menu">
          	  	  <% @subjects.each do |subject| %>
                    <li><a href="/subjects/photos/<%= subject.id %>" class="list-group-item" ><%= subject.name %></a></li>
                  <% end %>
							  </ul>
        			</li>
        			<li class="dropdown">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Eventos<b class="caret"></b></a>
          				<ul class="dropdown-menu">
							<li><a href="/events">Eventos registrados</a></li>
							</ul>
        			</li>
        			
        			</ul>
        			</li>
        			
      			</ul>
    		</nav>
  		</div>
	</header>

	<div id="hero">
		<div class="container">
			
<div class="col-md-3">
    <li class='ibagem'><%= image_tag current_student.avatar.url, class:"img-circle" %></li>
</div>
			<div class="img"></div>
		</div>
	</div>


</body>

</html>