
<!DOCTYPE html>
<html>
  

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />	
	<title>React - Bootstrap Theme</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="css/compiled/theme.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/animate.css">

	<!-- javascript -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/bootstrap/bootstrap.min.js"></script>
	<script src="js/theme.js"></script>

</head>
<body id="home">
	<header class="navbar navbar-inverse hero" role="banner">
  		<div class="container">
    		<div class="navbar-header">
		      	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
      			<a href="#" class="navbar-brand">Home</a>
    		</div>
    		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      			<ul class="nav navbar-nav navbar-right">
      				<li class="dropdown">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          					Sign up <b class="caret"></b>
          				</a>
          				<ul class="dropdown-menu">
							<li><a href="/students/sign_up">Aluno</a></li>
							<li><a href="/teachers/sign_up">Professor</a></li>
							  </ul>
        			</li>
        			<li class="dropdown">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          					Sign in <b class="caret"></b>
          				</a>
          				<ul class="dropdown-menu">
							<li><a href="/students/sign_in">Aluno</a></li>
							<li><a href="/teachers/sign_in">Professor</a></li>
				        </ul>
        			</li>
        			<li>
        				<a href="http://ort.org.br">ORT</a>
        			</li>
        			<li>
        				<a href="https://bitbucket.org/gabihecksher/omniboard">Bitbucket</a>
        			</li>
      			</ul>
    		</nav>
  		</div>
	</header>

	<div id="hero">
		<div class="container">
			<h1 class="hero-text animated fadeInDown">
				Omni Board 
			</h1>
			<p class="sub-text animated fadeInDown">
				O conteúdo da sala de aula em qualquer lugar.
			</p>
			<div class="cta animated fadeInDown">
			<!-- fazer pg explicando	<a href="features.html" class="button-outline">Como funciona?</a> -->
			</div>
			<div class="img"></div>
		</div>
	</div>

	<div class="developers">
      <h1>Desenvolvedores</h1>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10934012_1120536957963262_663585489343413057_n.jpg?oh=28b147526401197233098d4030586c6e&oe=5691925B" height="140" width="140">
      <h2>Gabriela</h2>
      <p>Gabriela Hecksher Oliveira, 17</p>
      <p><a class="btn btn-default" href="https://www.linkedin.com/profile/view?id=AAIAABbThfMBEBeruCPJwh3psjml0YgFiZ3I5o0&trk=nav_responsive_tab_profile">LinkedIn</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/11933473_885601211515449_2012275143496128686_n.jpg?oh=36f95bd23a8f4eb97882337f805b02e8&oe=56962DD9&__gda__=1453242448_efdee950be3b856d9ac3e26d9756a1dc" height="140" width="140">
      <h2>Francisco</h2>
      <p>Francisco Geiman Thiesen, 17</p>
      <p><a class="btn btn-default" href="https://www.linkedin.com/profile/view?id=AA4AABeYbsQB5TKsX7Arxo-we-lXOGOfMb_0mUM&authType=name&authToken=lnQ3&trk=connect_hub_pymk_profile_photo">LinkedIn</a></p>
    </div>
    
</body>
</html>