<html>
  
<body id="home">
  <% if student_signed_in? || teacher_signed_in? %>
  	<header class="navbar navbar-inverse hero" role="banner">
  		<div class="container">
    		<div class="navbar-header">
		      	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
    		</div>
    		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      			<ul class="nav navbar-nav navbar-right">
      				<li class="dropdown">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Matérias<b class="caret"></b></a>
          			<ul class="dropdown-menu">
          	  	  <% @subject.each do |subject| %>
                    <li><a href="/subjects/photos/<%= subject.id %>" class="list-group-item" ><%= subject.name %></a></li>
                  <% end %>
							  </ul>
        			</li>
        			<li class="dropdown">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Eventos<b class="caret"></b></a>
          				<ul class="dropdown-menu">
							<li><a href="/events">Eventos registrados</a></li>
							<li><a href="/events/new">Criar evento</a></li>
				        </ul>
        			</li>
        			
        			</ul>
        			</li>
        			
      			</ul>
    		</nav>
  		</div>
	</header>
	<% else %>
	  <header class="navbar navbar-inverse hero" role="banner">
  		<div class="container">
    		<div class="navbar-header">
		      	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
      			<a href="#" class="navbar-brand">Home</a>
    		</div>
    		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      			<ul class="nav navbar-nav navbar-right">
      				<li class="dropdown">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          					Sign up <b class="caret"></b>
          				</a>
          				<ul class="dropdown-menu">
							<li><a href="/students/sign_up">Aluno</a></li>
							<li><a href="/teachers/sign_up">Professor</a></li>
							  </ul>
        			</li>
        			<li class="dropdown">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          					Sign in <b class="caret"></b>
          				</a>
          				<ul class="dropdown-menu">
							<li><a href="/students/sign_in">Aluno</a></li>
							<li><a href="/teachers/sign_in">Professor</a></li>
				        </ul>
        			</li>
        			<li>
        				<a href="http://ort.org.br">ORT</a>
        			</li>
        			<li>
        				<a href="https://bitbucket.org/gabihecksher/omniboard">Bitbucket</a>
        			</li>
      			</ul>
    		</nav>
  		</div>
	  </header>  
	<% end %>



	<div id="hero">
		<div class="container">
        <%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject_id %><br>
    <%= f.number_field :subject_id %>
  </div>
  <div class="field">
    <%= f.label :capture_interval %><br>
    <%= f.number_field :capture_interval %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :day %><br>
    <%= f.text_field :day %>
  </div>
  <div class="field">
    <%= f.label :ip %><br>
    <%= f.text_field :ip %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
			<div class="img"></div>
		</div>
	</div>


</body>
</html>