<html>
  
<style>
  body{
    color: #fff;
  }
</style>
<body id="home">
  <% if student_signed_in? || teacher_signed_in? %>
  	<header class="navbar navbar-inverse hero" role="banner">
  		<div class="container">
    		<div class="navbar-header">
		      	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
    		</div>
    		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      			<ul class="nav navbar-nav navbar-right">
      				<li class="dropdown">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Matérias<b class="caret"></b></a>
          			<ul class="dropdown-menu">
          	  	  <% @subjects.each do |subject| %>
                    <li><a href="/subjects/photos/<%= subject.id %>" class="list-group-item" ><%= subject.name %></a></li>
                  <% end %>
							  </ul>
        			</li>
        			<li class="dropdown">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Eventos<b class="caret"></b></a>
          				<ul class="dropdown-menu">
							<li><a href="/events">Eventos registrados</a></li>
							<li><a href="/events/new">Criar evento</a></li>
				        </ul>
        			</li>
        			
        			</ul>
        			</li>
        			
      			</ul>
    		</nav>
  		</div>
	</header>
	<% else %>
	  <header class="navbar navbar-inverse hero" role="banner">
  		<div class="container">
    		<div class="navbar-header">
		      	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
      			<a href="#" class="navbar-brand">Home</a>
    		</div>
    		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      			<ul class="nav navbar-nav navbar-right">
      				<li class="dropdown">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          					Sign up <b class="caret"></b>
          				</a>
          				<ul class="dropdown-menu">
							<li><a href="/students/sign_up">Aluno</a></li>
							<li><a href="/teachers/sign_up">Professor</a></li>
							  </ul>
        			</li>
        			<li class="dropdown">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          					Sign in <b class="caret"></b>
          				</a>
          				<ul class="dropdown-menu">
							<li><a href="/students/sign_in">Aluno</a></li>
							<li><a href="/teachers/sign_in">Professor</a></li>
				        </ul>
        			</li>
        			<li>
        				<a href="http://ort.org.br">ORT</a>
        			</li>
        			<li>
        				<a href="https://bitbucket.org/gabihecksher/omniboard">Bitbucket</a>
        			</li>
      			</ul>
    		</nav>
  		</div>
	  </header>  
	<% end %>



	<div id="hero">
		<div class="container">
			
<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Capture Interval</th>
      <th>Duration</th>
      <th>Start</th>
      <th>Day</th>
      <th>Ip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.subject_id %></td>
        <td><%= event.capture_interval %></td>
        <td><%= event.duration %></td>
        <td><%= event.start %></td>
        <td><%= event.day %></td>
        <td><%= event.ip %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

			<div class="img"></div>
		</div>
	</div>







<br>

</body>
</html>
<%= link_to 'New Event', new_event_path %>
