<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @event.subject_id %>
</p>

<p>
  <strong>Capture interval:</strong>
  <%= @event.capture_interval %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>Day:</strong>
  <%= @event.day %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @event.ip %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
