<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :grade %><br>
    <%= f.text_field :grade %>
  </div>
  
  <div class="field">
    <%= f.label :time %><br>
    <%= f.text_field :time %>
  </div>
  
  <div class="field">
    <%= f.label :weekday %><br>
    <%= f.text_field :weekday %>
  </div>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>