<style>
   
    body {
      color: white;
    }
    form input {
	color: black;
	}
</style>
<h1>Editing Subject</h1>

<%= render 'form' %>

<%= link_to 'Show', @subject %> |
<%= link_to 'Back', subjects_path %>
