<p id="notice"><%= notice %></p>

<h1>Listing Subjects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Grade</th>
      <th>Time</th>
      <th>Weekday</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= subject.grade %></td>
        <td><%= subject.time %></td>
        <td><%= subject.weekday %></td>
        <td><%= link_to 'Show', subject %></td>
        <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Photos', "/subjects/photos/#{subject.id}" %></td>
      </tr>
      
      
      
    <% end %>
    
  </tbody>
</table>

<br>

<%= link_to 'New Subject', new_subject_path %>
