<html>
  <style>
   
    body {
      color: white;
    }
    input {
	color: black;
	}
</style>

<body id='home'>
<header class="navbar navbar-inverse hero" role="banner">
  		<div class="container">
    		<div class="navbar-header">
		      	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
    		</div>
    		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      			<ul class="nav navbar-nav navbar-right">
      				<% if student_signed_in? %>
      				    <li class="dropdown">
        				    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_student.name %><b class="caret"></b></a>
          				    <ul class="dropdown-menu">
						    	<li><a href="/students/home">Minha página</a></li>
				            </ul>
        		    	</li>
        		    <% end %>
        		    <% if teacher_signed_in? %>
      				    <li class="dropdown">
        				    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_teacher.name %><b class="caret"></b></a>
          				    <ul class="dropdown-menu">
						    	<li><a href="/teachers/home">Minha página</a></li>
				            </ul>
        		    	</li>
        		    <% end %>
        			<li class="dropdown">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Eventos<b class="caret"></b></a>
          				<ul class="dropdown-menu">
							<li><a href="/events">Eventos registrados</a></li>
							<li><a href="/events/new">Criar evento</a></li>
				        </ul>
        			</li>
        			
        			</ul>
        			</li>
        			
      			</ul>
    		</nav>
  		</div>
	</header>

	<div id="hero">
		<div class="container">

    <h1><%= @subject.name %></h1>

    </div>
  </div>
  <%= paginate @arquivos %>
    <p>
        <% @arquivos.each do |arquivo| %>
            <img src="/<%= @subject.name %>/<%= arquivo %>" style="padding: 25px 50px 75px 100px;">
            
        <% end %>
    </p>
  </body>
</html>