<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @subject.grade %>
</p>

<p>
  <strong>Time:</strong>
  <%= @subject.time %>
</p>

<p>
  <strong>Weekday:</strong>
  <%= @subject.weekday %>
</p>


<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
