<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>
<!--
<p>
  <strong>Subjects:</strong>
  <%= @teacher.subjects.map{|s| s.name}.join(", ") %>
</p>
-->
<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
