<html>
  
<style>
    body {
      color: white;
    }
    form input{
      color: black;
    }
  </style>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
<body id='home'>
  
  <header class="navbar navbar-inverse hero" role="banner">
  		<div class="container">
    		<div class="navbar-header">
		      	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
      			<a href="#" class="navbar-brand">Home</a>
    		</div>
    		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      			<ul class="nav navbar-nav navbar-right">
      				<li class="dropdown">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          					Sign up <b class="caret"></b>
          				</a>
          				<ul class="dropdown-menu">
							<li><a href="/students/sign_up">Aluno</a></li>
							<li><a href="/teachers/sign_up">Professor</a></li>
							  </ul>
        			</li>
        			<li class="dropdown">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          					Sign in <b class="caret"></b>
          				</a>
          				<ul class="dropdown-menu">
							<li><a href="/students/sign_in">Aluno</a></li>
							<li><a href="/teachers/sign_in">Professor</a></li>
				        </ul>
        			</li>
        			<li>
        				<a href="http://ort.org.br">ORT</a>
        			</li>
        			<li>
        				<a href="https://bitbucket.org/gabihecksher/omniboard">Bitbucket</a>
        			</li>
      			</ul>
    		</nav>
  		</div>
	</header>
	
		<div id="hero">
		<div class="container">
			  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

			<div class="img"></div>
		</div>
	</div>

	<div class="developers">
      <h1>Desenvolvedores</h1>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10934012_1120536957963262_663585489343413057_n.jpg?oh=28b147526401197233098d4030586c6e&oe=5691925B" height="140" width="140">
      <h2>Gabriela</h2>
      <p>Gabriela Hecksher Oliveira, 17</p>
      <p><a class="btn btn-default" href="https://www.linkedin.com/profile/view?id=AAIAABbThfMBEBeruCPJwh3psjml0YgFiZ3I5o0&trk=nav_responsive_tab_profile">LinkedIn</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/11933473_885601211515449_2012275143496128686_n.jpg?oh=36f95bd23a8f4eb97882337f805b02e8&oe=56962DD9&__gda__=1453242448_efdee950be3b856d9ac3e26d9756a1dc" height="140" width="140">
      <h2>Francisco</h2>
      <p>Francisco Geiman Thiesen, 17</p>
      <p><a class="btn btn-default" href="https://www.linkedin.com/profile/view?id=AA4AABeYbsQB5TKsX7Arxo-we-lXOGOfMb_0mUM&authType=name&authToken=lnQ3&trk=connect_hub_pymk_profile_photo">LinkedIn</a></p>
    </div>
	


<%= render "devise/shared/links" %>
</body>
</html>